/* You can add global styles to this file, and also import other style files */
// keep an element centered in the middle of the screen
.center{
  margin: 0 auto;
  display: block;
  min-width: min-content;
  max-width: 1080px;
  text-align: center;
}

.custom-box {
  -webkit-box-shadow: 0px 0px 20px -4px #e8e8e8;
  box-shadow: 0px 0px 20px -4px #e8e8e8;
  padding: 1.5rem 5rem ;
  border-radius: 10px;
  background: #fff;
}

.custom-box-2 {
  padding: 1.5rem 5rem ;
  border-radius: 10px;
  background: #fff;
}

// center the icon
.custom-box-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// center the text
.custom-box-title {
  text-align: center;
}

// larger font size with space between lines
.custom-box-text-big {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
