@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 14));
  }
}


.slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  align-items: baseline;
}

.slide {
  background: #fff;
  border-radius: 0.6rem;
  margin: 0.5em;
  box-shadow: 10px rgba(46, 59, 125, 0.23);
  // transition: all 0.3s ease-in-out;
  will-change: transform;
}





















